header {
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    background-color: white;
    height: 100px;
    margin-bottom: 136px;
    z-index: 100;
}
.header-item-width{
    margin: 0 auto;
    width: 1220px;
    display: flex;
}
.logo-img {
    display: flex;
    align-items: center;
    margin-right: 195px;
}
.nav{
    display: flex;
    align-items: center;
}
ul {
    display:flex;
    justify-content: space-between;
    width: 601px;
    margin-right: 40px;
}
.nav-font {
    color: #37393F;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;

}
.active-nav {
    color:#6B77E5
}
.header-button {
    display: flex;
    align-items: center;
    height: 65px;
    width: 184px;
    background-color: #6B77E5;
    padding: 21px 35px 22px 35px;
    font-size: 18px ;
    font-family: "Cabin", sans-serif;;
    font-weight: 600;
    line-height: 21.87px;
    color: #FFFFFF;
}
.team-serv {
    margin: 0 auto;
    width: 1220px;
}
.team-serv-headings {
    margin: 0 auto;
    width: 283px;
    text-align: center;
}
.team-serv-h5 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500px;
    line-height: 22px;
    color: #37393F;
    margin-bottom: 16px;
}
.team-serv-h1 {
    font-family: 'poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #37393F;
    margin-bottom: 41px;
}
.serv-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.serv-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 58px 43px;
    width: 386px;
    height: 383px;
    background-color: #f4f4f4;
}
.serv-box-h4 {
    font-family: 'poppins' ;
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    color: #37393F;
    margin-bottom: 16px
}
.serv-box-p {
    text-align: center;
    font-family: "inter" sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #7D7D7D;
    margin-bottom: 37px;
}
.serv-box-h6 {
    font-family: "Inter", sans-serif; ;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #6B77E5;
    margin-bottom: 10px;

}
.social-box-icon {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color:#40DDB6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-img {
    width: 43px;
    height: 43px;
}
.social-box-icon-middle {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color:#6B77E5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-img {
    background-image: url(../images/background.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;       
}
.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #37393F;
    width: 511px;
}
.banner-text-h5 {
    font-family:"Inter", sans-serif; ;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 16px;
}
.banner-text-h3 {
    font-family: 'poppins';
    font-size: 40px;
    font-weight: 700;
    line-height: 48.4px;
    margin-bottom: 21px;
}
.banner-text-p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 47px;
}
.banner-play-button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64.5px;
    height: 64.5px;
    border-radius: 50%;
    background-color: #6B77E5;
}
.team-member-box {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
}
.team-headings {
    margin: 0 auto;
    text-align: center;
}
.team-box-h6 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #37393F;
}
.team-box-h3 {
    font-family: 'poppins' ;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #37393F;
    margin-top: 16px;
    margin-bottom: 41px;
}
.team-member-row {
    margin: 0 auto;
    width: 1220px;
}
.team-member-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 131px;
}
.team-member-img1 {
    background-image: url(../images/Image.jpg);
    width: 386px;
    height: 532px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}
.team-member-img2 {
    background-image: url(../images/Image\ \(1\).png);
    width: 386px;
    height: 532px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}
.team-member-img3 {
    background-image: url(../images/Image.png);
    width: 386px;
    height: 532px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 

}
.team-member-content {
    position: absolute;
    background-color: white;
    width: 341px;
    height: 114px;
    top: 396px;
    left: 22px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.team-member-h4 {
    font-family: 'Poppins' ;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    color: #37393F;
    margin-bottom: 4px;
}
.team-member-p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #37393F;
}